/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --color-background: #282a36;
    --color-text: #e9e0e1;
    --font-size-default: 0.9rem;
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
    }
    
    ::-webkit-scrollbar-track {
      background: var(--color-background);
    }
  }

  html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    background-color: var(--color-background);
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    height: 100vh;
    width: 100vw;
  }

  /* Code Editor Styling */
  #code-editor {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    height: 100vh;
    width: 100vw;

    background-color: var(--color-background);
    overflow: auto;
  }

  #code-editor div[contenteditable] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--color-text);
    font-size: var(--font-size-default);
    border: none;
    padding: 0.5rem;
    outline: none;
    overflow: auto;
    white-space: pre-wrap; /* Keeps the formatting of the code */
  }
  
  #code-editor div[contenteditable]:empty:before {
    content: attr(placeholder);
    color: grey;
    display: block; /* For new lines */
  }

  #code-text {
    font-family: Consolas, monaco, monospace;
  }

  .server-msg {
    color: #50fa7b;
  }